[Unit]
Description=Service Systemd File to Run Gunicorn Web Server  - ckwebstudio.com
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/pythonApi
Environment="PATH=/home/user/pythonApi/env/bin"
ExecStart=/home/user/pythonApi/env/bin/gunicorn --config /home/user/pythonApi/gunicorn.py main:app

[Install]
WantedBy=multi-user.target