[Unit]
Description=Service Systemd File to Run Gunicorn Web Server  - ckwebstudio.com
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/fastapi
Environment="PATH=/home/user/fastapi/env/bin"
ExecStart=//home/user/fastapi/env/bin/gunicorn --config /home/user/fastapi/gunicorn.py main:app

[Install]
WantedBy=multi-user.target